script(type="text/javascript", src="/js/client.js")

#chat_room.row

  #chat_conversations.col_12.col(style="height: 100%;")
    .ui-widget-content.ui-corner-all(style="padding: 5px; height: 94%; overflow-y: scroll;")
      ul

  #chat_users.col_4.col.ui-widget(style="height: 100%;")
    .ui-widget-header.ui-corner-top(style="border-bottom: 0; padding: 5px;") Usuários
    .ui-widget-content.ui-corner-bottom(style="padding: 5px; height: 88%; overflow-y: scroll;")
      ul

.row
    textarea(placeholder='Digite aqui sua mensagem')#text.ui-widget.ui-widget-content.ui-corner-all

  #chat_controls.col_3.col
    button(type='button')#send Enviar
    button(type='button')#clear Limpar
